* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden; /*todo conteúdo que ultrapasse o limite horizontal será escondido*/
}


body {
    background-color: #f0f0f0;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
header, footer {
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky; /*permite que um elemento alterne entre o posicionamento 'relative' e 'fixed' com base na rolagem do usuário*/
    top: 0; /*fica na extremidade superior e extrema esquerda*/
    left: 0;
    z-index: 1; /*determina qual elemento aparece na frente de outro quando eles se sobrepõem e, ele sendo um valor positivo dentro da tag, prioriza a vizualização inicial*/
}

header > .container,
footer > .container  { /*representa o filho direto de uma tag e no caso apenas a 1º* classe ou ID é ajustada*/
    justify-content: space-between; 
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display:none
}

nav li {
    list-style: none ;/*remove os pontos de uma lista*/
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;/*por padrão tem o displau inline, por isso mudamos*/
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
}

#sobre-a-loja img {
    max-width: 480px;
    margin-right: 24px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
}

.lista-veiculos {
    flex-wrap: wrap;
}

.lista-veiculos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-veiculos li img {
    max-width: 100%;
}

.lista-veiculos li h3 {
    margin: 16px 0;
}

.item-central {
    margin: 0 5%;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

strong {
    margin: 16px 0;
    display: inline-block; /*exemplos de elementos inline: <span> <a> <img> <strong> <em>*/
}

.price del {
    color: #ccc;
    font-size: 14px;
    display: inline-block;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block; /*label em uma linha e o campo em outro*/
}

.form-campo input, 
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none; /*impossibilita que o usuário mexa do tamanho do campo de mensagem*/
    height: 120px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}
